*{
    margin: 0%;
    padding: 0%;
}
:root{ 
     --primary-color: #E5B3FF;
     --secondary-color: #8C1F66;  
     
 } 
.dark-theme{
    --primary-color: #000106;
    --secondary-color: #f01ca6; 
}
body{
    width: 100vw;
    height: 100vh;
    background: #ffff;
}  
header{
    width: 100vw;
    background-color: #e7c6ff;
} 
header nav .logo{
    width: 90vw; 
    margin: auto;
    display: flex;
    /* background-color: red;  */
}
header .logo .logo-img img{
    width: 22%;
    margin-right: 10rem;
    margin-top: 2.5rem;
}
header nav .logo .items{
    display: flex;
    width: 50%;
} 
header .logo .navigate{
    font-size: 18px;
    color: var(--secondary-color);
    padding-right: 30px;
    margin-top: 3.5rem;
    text-decoration: none;
}
header nav .logo .port {
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--secondary-color);
    text-decoration: none;
    margin-top: 3.5rem; 
    margin-right: 2rem;   
}
header .items a:hover{
    cursor: pointer;
    color: #FFFF;
}
header nav .logo .items #toggleDark{
    font-size: 24px;
    margin-top: 3.3rem; 
    float: right;
}
header #toggleDark:hover{
    cursor: pointer;
}
header #menuBar, header #close{
    display: none;
}
header .bio{
    width: 100vw;
    margin: auto;
}
header .bio h1{
    font-size: 55px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffff;
    text-align: center;
    font-weight: 900;
    padding-top: 1.5rem;
}
header .bio .txt-anim{
    position: relative;
}
.txt-anim::after{
    content: '|';
    position: absolute;
    right: 0;
    color: var(--secondary-color);
    background-color: #e7c6ff;
    width: 73%;
    animation: typing 3s steps(24) alternate infinite,
                line 1s infinite;
}
@keyframes typing{
    to{
        width: 0%;
    }
}
@keyframes line{
    50%{
        color: transparent;
    }
}
header .bio span{
    color: var(--secondary-color);
}
/* header .bio .profile{ */
    /* width: 30%; */
    /* margin: auto; */
/* } */
/* header .bio .profile img{ */
    /* width: 20rem; */
/* } */
header .bio .illustration{
    width: 60vw;
    margin: auto;
    padding-top: 2rem;
}
header .bio .illustration img{
    width: 50rem;
}
/* INTRODUCTORY SECTION */
.about-me{
    width: 100vw;
    background-color: #e7c6ff;
    height: 100vh;
}
.intro{
    width: 100%;
    height: 60vh;
    margin-top: -2.15%;
    background: linear-gradient(180deg, #8C1F66 0%, #9e0059 100%);
}
.intro h1 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFF;
    text-align: center;
    font-weight: 900;
    padding-top: 3rem;
}
.intro p{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFF;
    text-align: center;
    line-height: 2rem;
    width: 50%;
    margin: auto;
}
/* Box Sizing */
.box{
    width: 40vw;
    height: 50vh;
    margin: auto;
    background-color: #fff;
    margin-top: -12%;
    box-shadow: 2px 10px 10px 0px rgb(159, 168, 218);
    position: relative;
    border-top: 5px solid white;
    border-radius: 2rem;
}
.box h1{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FF7AAB;
    text-align: center;
    font-weight: 900;
    padding-top: 1rem;
}
.box .stack {
    display: flex;
}
.box .stack .items div{
    width: 80%;
    display: flex;
    padding-left: 5.5rem;
}
.box .stack .items div p{
    font-size: 16px;
    font-weight: 600;
    color: #FF7AAB;
    padding-top: 2.5rem;
}
.box .stack .items div i{
    font-size: 30px;
    color: #FF7AAB;
    padding-top: 2rem;
    padding-left: 1rem;
}
/* Project Section */
.project{
    width: 85vw;
    height: auto;
    margin: auto;
}
.title{
    margin-top: 5rem;
    display: flex;
    margin-left: 26rem;
}
.title h1{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FF7AAB;
    text-align: center;
    font-weight: 900;
    padding-top: 1rem;
}
.title img{
    width: 15%;
}
.portfolio, .chirp, .crappo, .gradie, .converter, .harvoxx{
    width: 100%;
    margin: auto;
    margin-top: 5rem;
    display: flex;
}
.portfolio .right-side, .chirp .right-side, .crappo .right-side, .gradie .right-side, .converter.right-side,
 .harvoxx .right-side{
    width: 80vw;
}
.portfolio .right-side h3, .chirp .right-side h3, .crappo .right-side h3, .gradie .right-side h3,
 .converter .right-side h3, .harvoxx .right-side h3{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FF7AAB;
    margin-bottom: 3%;
}
.portfolio .right-side p, .chirp .right-side p, .crappo .right-side p, .gradie .right-side p, 
.converter .right-side p, .harvoxx .right-side p{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    color: #000106;
    opacity: 0.7;
    line-height: 28px;
}
.portfolio .right-side button, .chirp .right-side button, .crappo .right-side button,
 .gradie .right-side button, .converter .right-side button, .harvoxx .right-side button{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: #FF7AAB;
    padding: 10px 15px;
    border: 2px solid #FF7AAB;
    border-radius: 10px;
    background-color: #FFFF;
    margin-top: 5%;
    margin-left: 5px;
}
.portfolio .right-side button:hover, .chirp .right-side button:hover, 
.crappo .right-side button:hover, .gradie .right-side button:hover, .converter .right-side button:hover,
.harvoxx .right-side button:hover{
    cursor: pointer;
    color: #FFFF;
    background-color: #FF7AAB;
}
.portfolio .right-side, .chirp .right-side, .crappo .right-side, 
.gradie .right-side, .converter .right-side, .harvoxx .right-side{
    width: 100vw;
    margin-left: 5%;
}
.portfolio .left-side img, .chirp .left-side img, .crappo .left-side img, 
.gradie .left-side img, .converter .left-side img, .harvoxx .left-side img{
    width: 39rem;
    box-shadow: 2px 8px 8px 5px rgb(159, 168, 218);
    position: relative;
    border-top: 5px solid white;
}
.portfolio .left-side img:hover, .chirp .left-side img:hover, .crappo .left-side img:hover,
.gradie .left-side img:hover, .converter .left-side img:hover, .harvoxx .left-side img:hover{
    cursor: pointer;
}
/* Contact-Me Section */
.contact-me{
    width: 100vw;
    height: 125vh;
    margin-top: 5%;
    background: #e7c6ff;
}
.contact-me .contact{
    width: 20vw;
    margin: auto;
    padding-top: 3rem;
}
.contact-me .contact .bxs-contact{
    font-size: 60px;
    color: #FF7AAB;
    margin-left: 6rem;
}
.contact-me .contact h1{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    color: #ff7aab;
    margin-bottom: 1rem;
}
.contact-me .phone, .contact-me .mail{
    width: 30vw;
    display: flex;
    margin: auto;
}
.contact-me .phone p, .contact-me .mail p{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 20px;
    box-shadow: rgb(224, 213, 213) 2px 5px 5px 0px;
    position: relative;
    background-color: #ffff;
    margin-top: 1rem;
    width: 90%;
}
.contact-me .phone p:hover, .contact-me .mail p:hover{
    cursor: pointer;
    box-shadow: rgba(255, 122, 171, 0.952) 2px 5px 3px 0px;
}
.contact-me .phone p i, .contact-me .mail p i{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.5);
    margin-right: 2%;
    margin-top: 2%;
}
.contact-me .phone p a, .contact-me .mail p a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}
/* Form Section */
.contact-me .address{
    width: 30vw;
    margin: auto;
    margin-top: 2.5%;
    margin-bottom: 5%;
}
.contact-me .address input, .contact-me .address textarea{
    font-size: 16px;
    display: block;
    width: 23.4rem;
    margin-top: 1%;
    padding: 15px;
}
.contact-me .address .submit{
    font-size: 18px;
    color: #FFFF;
    width: 25.4rem;
    border: 2px solid #FF7AAB;
    border-radius: 5px;
    background-color: #FF7AAB;
    margin-top: 5%;
}
.contact-me .address .submit:hover{
    color: #ff7aab;
    cursor: pointer;
    box-shadow: 0 0 35px #FF7AAB;
    border: none;
    border-radius: 2rem;
    background: #FFFF;
}
/* Footer Section */
footer{
    width: 100vw;
    height: 70vh;
    background: linear-gradient(180deg, #8C1F66 0%, #9e0059 100%);
}
footer .logo{
    width: 15vw;
    margin: auto;
}
footer .logo i{
    font-size: 40px;
    color: #FFFF;
    padding: 0px 12px;
    margin-top: 8rem;
}
footer hr{
    margin: auto;
    width: 50%;
    opacity: 0.5;
    margin-top: 3%;
}
footer .copy{
    font-size: 16px;
    color: white;
    opacity: 0.9;
    width: 14vw;
    margin: auto;
    padding-top: 50px;
}
/* THis is the scroll bar  */
::-webkit-scrollbar{
    width: 10px;
    max-height: 10%;
    cursor: pointer;
}

::-webkit-scrollbar-thumb{
    background-color: #9e0059;
}

::-webkit-scrollbar-thumb:hover{
    background-color: #9e0059;
} 

/* Media Query */
@media only screen and (max-width: 1000px){
    body{
        width: 100%;
        height: auto;
        background-color: #FFFF;
    }
    header{
        width: 100vw;
        color: #e7c6ff;
    }
    header #home .logo #menuBar, header #home .logo #close{
        width: 60%;
        display: inline;
        margin-top: 2.5rem;
    }
    header #home .logo{
        width: 90%;
    }
    header nav .logo .items{
        display: none;
    }
    header .bio h1{
        font-size: 28px;
    }
    header .bio .illustration{
        width: 85vw;
        margin: auto;
    }
    header .bio .illustration img{
        width: 30rem;
    }
    .about-me{
        height: 65vh;
    }
    .intro{
        height: 45vh;
    }
    .intro h1{
        font-size: 22px;
    }
    .intro p{
        font-size: 14px;
    }
    .box{
        width: 70vw;
        height: 25vh;
        margin-top: -23%;
    }
    .box h1{
        font-size: 20px;
    }
    .box .stack .items div{
        padding-left: 4rem;
    }
    .box .stack .items div p{
        font-size: 12px;
    }
    .box .stack .items div i{
        font-size: 25px;
    }
    /* Project Section */
    .title{
        margin-top: 3rem;
        margin-left: 8rem;
    }
    .title h1{
        font-size: 30px;
    }
    .title img{
        width: 20%;
    }
    .portfolio, .chirp, .crappo, .gradie, .converter, .harvoxx{
        width: 80vw;
        margin: auto;
        margin-top: 5rem;
        display: block;
    }
    .portfolio .right-side h3, .chirp .right-side h3, .crappo .right-side h3, .gradie .right-side h3,
    .converter .right-side h3, .harvoxx .right-side h3{
        font-size: 20px;
    }
    .portfolio .right-side p, .chirp .right-side p, .crappo .right-side p, .gradie .right-side p,
    .converter .right-side p, .harvoxx .right-side p{
        width: 70vw;
        font-size: 14px;
        line-height: 20px;
    }
    .portfolio .right-side button, .chirp .right-side button, .crappo .right-side button,
    .gradie .right-side button, .converter .right-side button, .harvoxx .right-side button{
        font-size: 12px;
        padding: 8px 12px;
    }
    .portfolio .left-side img, .chirp .left-side img, .crappo .left-side img, 
    .gradie .left-side img, .converter .left-side img, .harvoxx .left-side img{
        width: 29rem;
        margin-bottom: 2rem;
    }
    /* Contact-Me Section */
    .contact-me{
       width: 100vw; 
       height: 70vh;
    }
    .contact-me .contact{
        width: 15vw;
    }
    .contact-me .contact .bxs-contact{
        font-size: 30px;
        margin-left: 3rem;
    }
    .contact-me .contact h1{
        width: 50vw;
        font-size: 20px;
    }
    .contact-me .phone, .contact-me .mail{
        width: 70vw;
        display: flex;
        margin: auto;
    }
    /* Form Section */
    .contact-me .address{
        width: 30vw;
        margin-left: 15vw;
    }
    .contact-me .address input, .contact-me .address textarea{
        font-size: 12px;
        width: 24rem;
    }
    .contact-me .address .submit{
        width: 26rem;
    }
    /* Footer Section */
    footer{
        width: 100vw;
        height: 45vh;
    }
    footer .logo i{
        font-size: 25px;
        margin-top: 4rem;
        /* display: block; */
    }
    footer .copy{
        font-size: 16px;
        color: white;
        opacity: 0.9;
        width: 30vw;
        margin: auto;
        padding-top: 50px;
    }
}

/* Dimension: iPhone SE */
/* Media Query */
@media only screen and (max-width: 700px){
    body{
        width: 100vw;
        height: auto;
    }
    header .bio h1{
        font-size: 18px;
    }
    header .bio .illustration{
        width: 85vw;
        margin: auto;
    }
    header .bio .illustration img{
        width: 19rem;
        margin-bottom: -1%;
    }
    .about-me{
        height: 80vh;
    }
    .intro{
        height: 60vh;
    }
    .intro h1{
        font-size: 18px;
        padding-top: 10%;
    }
    .intro p{
        font-size: 12px;
        line-height: 22px;
    }
    .box{
        width: 65vw;
        height: 25vh;
        margin-top: -25%;
    }
    .box h1{
        font-size: 12px;
    }
    .box .stack .items div{
        padding-left: 2rem;
    }
    .box .stack .items div p{
        font-size: 8px;
        padding-top: 1.3rem;
    }
    .box .stack .items div i{
        font-size: 16px;
        padding-top: 1rem;
    }
    /* Project Section */
    .title{
        margin-top: 2rem;
        margin-left: 6rem;
    }
    .title h1{
        font-size: 18px;
    }
    .title img{
        display: none;
    }
    .portfolio, .chirp, .crappo, .gradie, .converter, .harvoxx{
        width: 80vw;
        margin: auto;
        margin-top: 2rem;
    }
    .portfolio .right-side h3, .chirp .right-side h3, .crappo .right-side h3, .gradie .right-side h3,
    .converter .right-side h3, .harvoxx .right-side h3{
        font-size: 14px;
    }
    .portfolio .right-side p, .chirp .right-side p, .crappo .right-side p, .gradie .right-side p,
    .converter .right-side p, .harvoxx .right-side p{
        width: 60vw;
        font-size: 12px;
        line-height: 20px;
    }
    .portfolio .right-side button, .chirp .right-side button, .crappo .right-side button,
    .gradie .right-side button, .converter .right-side button, .harvoxx .right-side button{
        font-size: 12px;
        padding: 8px 12px;
    }
    .portfolio .left-side img, .chirp .left-side img, .crappo .left-side img, 
    .gradie .left-side img, .converter .left-side img, .harvoxx .left-side img{
        width: 17rem;
        margin-left: 1.1rem;
        margin-bottom: 2rem;
    }
    /* Contact-Me Section */
    .contact-me{
       width: 100vw; 
       height: 85vh;
       margin-top: 15%;
    }
    .contact-me .contact{
        width: 15vw;
    }
    .contact-me .contact .bxs-contact{
        display: none;
    }
    .contact-me .contact h1{
        font-size: 18px;
        margin-top: -1rem;
        margin-left: -2rem;
    }
    .contact-me .phone, .contact-me .mail{
        width: 72vw;
        display: flex;
        margin: auto;
    }
    .contact-me .phone p, .contact-me .mail p{
        font-size: 12px;
    }
    .contact-me .phone p i, .contact-me .mail p i{
        font-size: 12px;
    }
    /* Form Section */
    .contact-me .address{
        width: 40vw;
        margin-left: 13.5vw;
    }
    .contact-me .address input, .contact-me .address textarea{
        font-size: 12px;
        width: 15rem;
    }
    .contact-me .address .submit{
        font-size: 14;
        width: 17rem;
        padding: 10px;
    }
    /* Footer Section */
    footer{
        width: 100vw;
        height: 45vh;
    }
    footer .logo i{
        font-size: 20px;
        margin-top: 2rem;
        /* display: block; */
    }
    footer .copy{
        font-size: 10px;
        color: white;
        opacity: 0.9;
        width: 30vw;
        margin: auto;
        padding-top: 50px;
    }
}