*{
    padding: 0%;
    margin: 0%;
}
:root{
    --Primary-color: #212529;
    --secondary-color: #ffc107;
}
body::before{
    display: block;
    content: '';
    height: 75px;
}
.text-animation{
    position: relative;
}
.text-animation::after{
    content: '|';
    position: absolute;
    right: 0;
    color: var(--secondary-color);
    background-color: var(--Primary-color);
    width: 80%;
    animation: typing 3s steps(21) alternate infinite,
                line 1s infinite;
}
.bxl-html5{
    font-size: 50px;
}
@keyframes typing{
    to{
        width: 0%;
    }
}
@keyframes line{
    50%{
        color: transparent;
    }
}
header .bio span{
    color: var(--secondary-color);
}

/* Media Query */
@media screen and (max-width: 500px){
    html{
        font-size: 12px;
    }
    nav .container .pt-2 .navbar-brand img{
        width: 30%;
    }
}

@media screen and (max-width: 300px){
    html{
        font-size: 10px;
    }
    nav .container .pt-2 .navbar-brand img{
        width: 25%;
    }
}