*{
    padding: 0%;
    margin: 0%;
    font-family: 'Open Sans' sans-serif;
}
:root{
    --Primary-color: #212529;
    --secondary-color: #ffc107;
}

body{
    max-width: 100%;
}

nav{
    max-width: 100%;
}

body::before{
    display: block;
    content: '';
    height: 50px;
}

.navbar-brand, .nav-link{
    font-size: 1rem;
}
.logo{
    font-size: 20px;
} 
.text-animation{
    position: relative;
}
.text-animation::after{
    content: '|';
    position: absolute;
    right: 0;
    color: var(--secondary-color);
    background-color: var(--Primary-color);
    width: 80%;
    animation: typing 3s steps(30) alternate infinite,
                line 1s infinite;
}
@keyframes typing{
    to{
        width: 0%;
    }
}
@keyframes line{
    50%{
        color: transparent;
    }
}
header .bio span{
    color: var(--secondary-color);
}

.btn.border:hover{
    background-color: #ffff;
    color: #0d0df0;
}




/* Media Query */
@media screen and (min-width: 1024px) {

    .intro h1{
        font-size: 2.5rem;
    }
    .d-flex p{
        font-size: 50px;
    }

}
@media screen and (min-width: 480px){

    .intro h1{
        font-size: 1.5rem;
    }

    .d-flex p{
        font-size: 8px;
    }

}

@media screen and (min-width: 370px){

    .intro h1{
        font-size: 1.3rem;
    }

    .d-flex p{
        font-size: 8px;
    }

}
